body {
    background-color: black;
}

#engrenagem {
    width: 5%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white
}

#caraqcriouocarro {
    width: 18%;
}

.textoum {
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px
}


.equipe {
    display: grid;
    justify-items: end;
    grid-template-columns: 33% 33% 33%;

    padding-top: 20px;
}

.textodois{
    display: flex;
    color: white;
    flex-direction: row-reverse;
}

.fotobobao {
    width: 40%;
}

footer {
    background-color: whitesmoke;
}