body{background-color: black;
}
img{
    width: 7%;
}
    header{
        display:flex;
        justify-content: space-around;
        align-items: center;
        background-color: white
        ;
    }